
{%extends 'cargoapp/base.html'%}
{%load static%}
{%block content%}
        <div class="content-inner w-100">
          <!-- Page Header-->
          <header class="bg-white shadow-sm px-4 py-3 z-index-20">
            <div class="container-fluid px-0">
              <h2 class="mb-0 p-1">Trip detail for {{trip}}</h2>
            </div>
          </header>
          <!-- Dashboard Counts Section-->
          <section class="pb-0">
            <div class="container-fluid">
              <div class="row gy-4">
                <!-- Work Amount  -->

                <!-- Client Profile -->
                <div class="col-lg-12">
                  <div class="card mb-0">
                    <div class="card-close">
                      <div class="dropdown">
                        <button class="dropdown-toggle text-sm" type="button" id="closeCard1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                        <div class="dropdown-menu dropdown-menu-end shadow-sm" aria-labelledby="closeCard1"><a class="dropdown-item py-1 px-3 remove" href="#"> <i class="fas fa-times"></i>Close</a><a class="dropdown-item py-1 px-3 edit" href="#"> <i class="fas fa-cog"></i>Edit</a></div>
                      </div>
                    </div>
                    <div class="card-body text-center">
                      
                      <h3 class="fw-normal">from {{trip.departure_location}} to {{booking.trip.destination}} </h3>
                      <p class="text-sm text-gray-500 mb-1">{{trip.departure_time}}</p>
                      <div class="row py-4 gy-3">
                        <div class="col-4"><strong class="d-block lh-1">{{trip.space_left}}</strong><small>space left</small></div>
                        <div class="col-4"><strong class="d-block lh-1"> {{ total_trips }}</strong><small>people booked</small></div>
                        <div class="col-4"><strong class="d-block lh-1">{{price}}</strong><small>estimated price </small></div>
                      </div>
                      <div class="d-flex justify-content-between">
                        NB:Prices may change due to number of bookings
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </section>

          <!-- Client Section-->


          <!-- Page Footer-->
          
         
        </div>
 {%endblock%}    